Checks: >
  -*,
  clang-diagnostic-*,
  -llvmlibc-restrict-system-libc-headers,
  llvm-*,
  misc-*,
  -misc-const-correctness,
  -misc-unused-parameters,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -misc-use-anonymous-namespace,
  readability-identifier-naming,
  -llvm-header-guard,
  -llvm-include-order,
